@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-bee-border;
  }
  
  body {
    @apply bg-bee-bg text-bee-text antialiased;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
